#creative-image{
    width:100%;
    height:auto;
    margin:0px;

}
#normal-image{
    width:100%;
    height:auto;


}
.nav-wrapper{
    background-color: #006064;
}
#image-row{
    display: block;
    margin:0px;
    padding:0px;
}
.right-image{
    float:left;
    width: 50%;
    height: 40vh;
    background-image: url("./../images/dwinell_normal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: 400px auto;
}
.left-image{
    float: left;
    width: 50%;
    height: 40vh;
    background-image: url("./../images/dwinell_creative.jpg");
    background-repeat: no-repeat;
    background-position: left;
    overflow: clip;
    background-size: 400px auto;
}