#creative-image{
    width:100%;
    height:auto;
    margin:0px;

}
#normal-image{
    width:100%;
    height:auto;


}
.nav-wrapper{
    background-color: #006064;
}
#image-row{
    display: block;
    margin:0px;
    padding:0px;
}
.right{
    text-align: right;
}
/* .right-image{
    float:left;
    width: 25%;
    height: 80vh;

    overflow: hidden;
    direction: rtl;
  
}
.left-image{
    float: left;
    width: 25%;
    height: 80vh;
    overflow: hidden;
    direction: ltr;
 
  
}  */